
html {
    font-size: 62.5%;
    overflow-x: hidden; 
    background-color: bisque;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sectionATM {
    max-width: 120rem; 
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}


.click-here {
    display: block;
    padding: 9.6rem; 
    height: 100vh;
}


.click-here label {
    font-size: 1.6rem;
    display: block;
    margin-bottom: 1.2rem;
   
}

.click-here input {
    width: 50%;
    padding: 1.2rem 2.2rem;
    border: none;
    color: inherit;
    margin-bottom: 1.2rem;
   
}

select, option {
    width: 50%;
    padding: 1.2rem 2.2rem;
    border: none;
    margin-bottom: 2.2rem;
}

.btnForm, input[type=submit] {
    width: 50%;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;  
    background-color: brown;
    color: #fff;
  
}


.atm-Exc {
    text-align: center;
    padding: 3.5rem 4.5rem;
    width: 42.5rem;
    font-size: 1.8rem;
    border-radius: 0.9rem;
    border: 2px dashed #bbb;
    height: 25rem;
}


.atmBox {
    color: #fff;
    height: 70vh;
    padding: 4.6rem;
    width: 50rem;
}

.ATMCard {
    background-image: linear-gradient(to top left, #dc1b22 0%, #842629 100%);
    padding: 2rem;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
} 

.Atm, .bankLogo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    position: relative;
}

.bankLogo, .card-names {
    text-align: center;
    justify-content: space-evenly; 
}

.account-type {
    display: flex;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.ATMLogo {
    width: 5rem;
    align-items: top;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.list {
    list-style-type: none;
    font-size: 2.2rem;
    display: flex;
    justify-content: space-between;
    
}

.listIcon {
    margin-top: 1.2rem;
    background-color: gold;
    height: 2rem;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.listItem {
    margin-top: 1.2rem;
}

.card-digit {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.4rem;
    margin-top: 2.8rem;
    color: #ccc;

}

.expDate {
    text-align: center;
    justify-content: center;
    margin-top: 1.2rem;
    font-size: 1.6rem;
}


.card-names {
    justify-content: space-between; 
    letter-spacing: 1.2px;
    font-size: 2.2rem;  
}



.cardLogo {
    width: 5rem;
    height: 4.4rem;
    margin-top: 2.4rem;
    justify-content: right;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.hidden {
    display: none; 
    opacity: 0;
} 
